p {
    font-family: 'Times New Roman';
    color: #000000;
    font-size: 25px;
}
body {
    
    text-align: center;
}
h1{
    font-size: 75px;
    color: #000000;
}
a {
    text-decoration: none;
    font-size: 25px;
}
div.mycontainer {
  width:100%;
  overflow:auto;
}
div.mycontainer div {
  width:33%;  
  float:left;
}
img{
    size: 125px;
}